{# Front page (INCOMPLETE) #}
{% extends "layout/base.html" %}

{% load mytags webdesign %}

{% block title %}Front page (register & anonymous users){% endblock %}

{% block content %}
	<h1>Front page (register & anonymous users)</h1>

  {% if login %}
    <p>This is a nice image, only for registered users ;-) </p>
    {% image 200 200 %}
    <p>Click on the top right link to logout.</p>
  {% else %}
    <p>This content is for everybody</p>
    <p>Click on the top right "Login" link to simulate the login.</p>
  {% endif %}

  
{% endblock %}