<!doctype html>
<head>
  <meta charset="utf-8">

	<title>{% block title %}{% endblock %} - {{ website_name }}</title>
	
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?v=1">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/prototype.css?v=1">
</head>

<body>
  
  <div id="fixed_top">
    {{ return_link }}  
    <span id="user">{{change_login_link}} - {% if login %}registered user{% else %}anonymous{% endif %}</span>
  </div>
  
  <div id="container">
    
    <header>
      {% include "parts/header.html" %}
    </header>
    
    <div id="main" role="main">
    	{% block content %}
    		<p>Content goes here.</p>
    	{% endblock %}
    </div>
    
    <footer>
      {% include "parts/footer.html" %}
    </footer>
    
  </div> <!--! end of #container -->
  
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
<!--
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/script.js"></script>
-->

</body>
</html>